@import "../../../../styles/_variables.css";

.qp-row .btn-outline-primary {
  background-color: var(--card-background);
  color: var(--text-color);
  border: 1px solid var(--primary-color);
}
.qp-row .btn-outline-primary:hover {
  background-color: var(--primary-hover);
  color: var(--card-background);
  border-color: var(--primary-hover);
}

hr {
  border-color: var(--border-color);
}

.modal-body .form-control,
.modal-body .form-select {
  background-color: var(--card-background);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.modal-body .form-control:focus,
.modal-body .form-select:focus {
  border-color: var(--primary-color);
  box-shadow: none;
}

.modal-body .form-control::placeholder {
  color: var(--text-color);
  opacity: 0.6;
}
