@import "../../../../styles/_variables.css";

.topbar {
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--border-color);
  padding: var(--spacing-sm) var(--spacing-lg);
  display: flex;
  align-items: center;
  z-index: 1000;
}
.navbar-brand {
  font-size: var(--font-xl);
  font-weight: 600;
  color: var(--primary-color);
  margin-left: var(--spacing-md);
  transition: color 0.3s ease;
}
.navbar-brand:hover {
  color: var(--primary-hover);
  text-decoration: none;
}
.menu-btn {
  display: none;
  color: var(--text-color);
  font-size: var(--font-xl);
  margin-right: var(--spacing-md);
}

.menu-btn:hover {
  color: var(--primary-hover);
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-btn {
    display: inline-block;
  }
}
